<launch>

	<node pkg="velma_common" name="cleaning" type="reset_shm_comm" />

	<node pkg="velma_task_cs_ros_interface" name="initialization" type="initialize_robot.py" />

	<include file="$(find velma_ros_plugin)/launch/velma_planner.launch" />

	<include file="$(find velma_common)/launch/octomap_server.launch" />

	<node pkg="rviz" name="rviz" type="rviz" />

</launch>